* {
    margin: 0;
    padding: 0;
}

.RegForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

fieldset {
    width: 50%;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

legend {
    margin-left: 50px;
    font-weight: 600;
}

label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: x-large;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    width: 60%;
    box-sizing: border-box;
    background-color: darkgrey;
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0.1);
}

input:hover {
    background-color: rgb(203, 229, 255);
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: darkgrey;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0.1);
}

button:hover {
    background-color: rgb(203, 229, 255);
}

select {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    width: 60%;
    box-sizing: border-box;
    background-color: darkgrey;
    box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0.1);
}

select:hover {
    background-color: rgb(203, 229, 255);
}

.form-group1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.gender,
.deliveryMode {
    width: 10%;
}

textarea {
    width: 60%;
    font-size: 17px;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: darkgrey;
}

textarea:hover {
    background-color: rgb(203, 229, 255);
}

.warning {
    padding: 0px 5px 7px;
    font-size: larger;
    color: red;
}